<app-header></app-header>

<body>
    <div class="form-container">
      <h2>Productos Medios
      </h2>
      <form id="orderForm" [formGroup]="orderForm">
      
        <div class="form-group">
          <label for="anosDeUso">Semilla Xo</label>
          <input type="number" class="form-control" formControlName="semilla" placeholder="Ingrese una semilla Xo">
        </div>
        <div class="form-group">
            <label for="semilla1">Semilla X1</label>
            <input type="number" class="form-control" formControlName="semilla1" placeholder="Ingrese una semilla X1">
          </div>
          
        <div class="form-group">
          <label for="anosDeUso">Limite</label>
          <input type="number" class="form-control" formControlName="limite" placeholder="Ingrese la cantidad de numeros a generar">
        </div>
        <div class="form-group">
          <button type="button" class="btn-submit" (click)="submitForm()">Generar</button>
          <br>
          <button type="button" class="btn-clear" (click)="clearForm()">Limpiar</button>
        </div>
      </form>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Información de la Secuencia</h5>
          <p class="card-text">
            Iteración de Degeneración: {{ degenerationIteration }}
          </p>
        </div>
      </div>
    </div>
    
      

   <!-- Tabla -->
  <div class="table-container">
    <h2>Números Generados</h2>
    <div class="table-scrollable">
      <table>
        <thead>
          <tr>
            <th>i</th>
            <th>Operacion</th>
            <th>Yi</th> 
            <th>Xi</th>
            <th>Ri</th>
            <th>Observaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let NSA of numeros">
            <td>{{ NSA.i }}</td>
            <td>{{ NSA.semilla }}</td> 
            <td>{{ NSA.yi }}</td>
            <td>{{ NSA.xi }}</td>
            <td>{{ NSA.ri }}</td>
            <td>{{ NSA.observacion }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

    
</body>

<app-footer></app-footer>