<!-- home.component.html --><link rel="icon" type="image/x-icon" href="src/favicon.ico" >
<app-header></app-header>
<!-- Resto del contenido de la página -->
<body>
<div class="container">
  <p>PRACTICA #2</p>
  <p>MODELADO, DINAMICA DE SISTEMAS Y SIMULACION</p>
</div>
        
<!-- home.component.html -->

  <h2 class="text-center mb-4">Métodos No Congruenciales </h2>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body text-center">
            <h5 class="card-title">Cuadrados Medios </h5>
            <a class="btn" routerLink="/pedidos" style="background-color: #AFD3E2;">Utilizar método</a> <!-- Estilo en línea añadido -->
          </div>
        </div>
      </div>

        
      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body text-center">
            <h5 class="card-title">Producto Medios </h5>
            <a class="btn" routerLink="/prodmed" style="background-color: #AFD3E2;">Utilizar método</a> <!-- Estilo en línea añadido -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center mb-4">Métodos  Congruenciales </h2>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body text-center">
            <h5 class="card-title">Algoritmo Lineal </h5>
            <a class="btn" routerLink="/alglin" style="background-color: #AFD3E2;">Utilizar método</a> <!-- Estilo en línea añadido -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body text-center">
            <h5 class="card-title">Algoritmo Multiplicativo </h5>
            <a class="btn" routerLink="/algmul" style="background-color: #AFD3E2;">Utilizar método</a> <!-- Estilo en línea añadido -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</body>
  <app-footer></app-footer>